@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[url(@/assets/img/space-bg.png)] bg-fixed bg-cover bg-center text-white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: min-content;
}

/* * {
  @apply border border-red-500;
} */
